html, body {
  height: 100%;
  margin: 0;
  font-family: "Times New Roman", sans-serif;
  cursor: default;


}
footer{
  left: 0;
  bottom: 0;
  width: auto;
  padding: .5em;
  color: black;
  text-align: center;
   background-color: #fffdd0;
}
@media screen and (max-width: 768px) {
  /* body{
    color:red;
  } */
   .intro a{
       font-size: 1.1em;
       width: auto;
    }
    .intro > .intro-box {
      padding-top: 0em;
     }
    .intro > .intro-box h1{
      font-size: 3em;
     }
    .intro > .intro-box p{
       font-size: 1.1em;

      }
      .main-container > #sec-projects > .main-projects{
        display: flex;
        flex-direction: column;
      }

}
 @media screen and (min-width: 769px) and (max-width: 1024px) {
   /* body{
     color:blue;
   } */
   .intro a{
       font-size: 1.1em;
       width: auto;
    }
    .intro > .intro-box {
      padding-top: 0em;
     }
    .intro > .intro-box h1{
      font-size: 3em;
     }
    .intro > .intro-box p{
       font-size: 1.1em;

      }
      .main-container > #sec-projects > .main-projects{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;
      }

}
@media screen and (min-width: 1400px) {
  /* body{
    color:yellow;
  } */
    .intro {
        height: 1080px;
    }
   .intro a{
       font-size: 1.1em;
       width: auto;
    }
    .intro > .intro-box {
      padding-top: 0em;
      border-bottom: .8em solid #ffee96;

     }
    .intro > .intro-box h1{
      font-size: 5em;
     }
    .intro > .intro-box p{
       font-size: 1.5em;

    }
    .main-container > #sec-projects .sec-title{
      font-size: 3em;
    }

}

/* Buttons */
.btn-dark {
  position: fixed;
  right: 0;
  margin: auto;
  width: 10%;
  background-color: #910404 ;
  color: white;
  text-align: center;
  padding: .5vw;
  text-decoration: none;
  font-size: 2vw;
  z-index: 1;
}
.btn-dark:hover{
    background-color: white;
    color: #910404;
    border: 1px solid #910404;
    box-shadow: 5px 5px 5px black;
}
.btn-light{
  display: inline-block;
  padding: 1%;
  text-decoration: none;
  border: .1vw solid grey;
  box-shadow: 3px 2px 5px black;
  color: black;
  background-color: #fffdd0;
  border-radius:  30px;
  font-size: 2vw;
}
.btn-light:hover{
  background-color: fff985;
  border: .1vw solid black;
  box-shadow: 5px 10px 15px black;
}
.btn-light:visited{
  color: black;
}
.btn-links {
  margin: auto;
  text-align: center;
  padding: .5vw;
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.8s;
}
.btn-live{
    background-color: white;
    color: #4083ff;
    border: 1px solid #4083ff;
}
.btn-code{
    background-color: #299127;
    color: white;
    border: 1px solid #299127;
}
.btn-live:hover{
    background-color: #4083ff;
    color: white;
    border: 1px solid #4083ff;
}
.btn-code:hover{
    background-color: white;
    color: #299127;
    border: 1px solid #299127;
}
 .intro {
  height: 720px;
    background-image: url('../files/img/icon-logo.png'),linear-gradient(to bottom, rgb(0, 0, 0, .9), rgb(255, 255, 255, .5)),
         url('../files/img/wall.jpg');
   background-repeat: no-repeat,
       no-repeat,
       no-repeat;
   background-position: top center, left, left;
  background-size: 12%, cover, cover;
}
.intro-box{
  position: relative;
  margin: auto;
  top: 32%;
  width: 66%;
  text-align: center;
  border-bottom: .8vw solid #ffee96;
}

.intro-box > h1{
  margin: 0;
  color: white;
  text-shadow: 5px 4px 5px black;
  font-size: 7vw;
}
.intro-box > p{
  margin: 0;
  color: white;
  text-shadow: 5px 4px 5px black;
  font-size: 2vw;
}
.project-button{
  position: relative;
  top: 32%;
  margin-top: 2%;
  width: 99%;
  text-align: center;
}
.main-projects{
  padding: 1em;
  margin: 0 auto;
  display: grid;
  grid-gap: 1em;

  grid-template-columns: 1fr 1fr 1fr;
  text-decoration: none;

}
.card{
  border: 1px solid grey;
  padding: 1em 1em;
  text-align: center;
  background: #f2f2f2;
  box-shadow: 3px 3px 5px grey;
}
.card > .card-title h1{
  margin-bottom: 0;
}
.card-links{
  padding: 1em 1em;
}
.card img{
  width: 100%;
  height: auto;
}
.main-projects{
  list-style-type: none;
}
.sec-title{
  text-align: center;
  font-size: 4vw;
  text-decoration: underline;
  margin: 1em;

}
#sec-contacts{
  height: auto;
  padding: .5em;
  color: white;
  background-color: grey;
  text-align: center;
}
.con-details{
  list-style: none;
}
#sec-contacts > ul li{
  margin: .5em;
}
 #sec-contacts > ul li  span{
   font-size: 1.1em;
   text-decoration: underline;
}
#sec-contacts > ul li img{
  width: 2em;
  height: auto;
  border-radius: 50%;
  vertical-align: middle;
}
